@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

:root {
  /* Color */
  --color-dark: hsl(252, 30%, 17%);
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(42, 99%, 52%);
  --color-secondary: hsla(42, 99%, 52%, 0.527);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-black: hsl(252, 30%, 10%);

  /* Space */
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  position: relative;
}

.btn {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #000;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.8rem;
}
